/* Universal style */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans';
}

/* Shared Style */
.primary-color {
    color: #FF42A5;

}

.text-primary-style {
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}


.shared-title {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shared-title-two {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
}



/* Nav Section style */
.header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navigation {
    display: flex;
    width: 75%;
    margin: auto;
    height: 130px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;

}

.menu-social-media {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 0.4rem;
}

/* Banner Section Style */

.banner {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%), url("media/images/group\ 14.png") left;
    background-size: 100%, 50%;
    background-repeat: no-repeat, no-repeat;

}

.banner-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    align-items: center;



}

.banner-detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner-title-one {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.banner-title-two {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-one {
    border-radius: 48px;
    background: #FF42A5;
    border: 0;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
}

.button-two {
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
}

.banner-image img {
    width: 30rem;
}

/* Gamer Section Style */

.gamer {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container {
    width: 75%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gamer-image img {
    width: 35rem;
}

.gamer-detail {
    text-align: right;
}

.gamer-detail-one {
    margin-bottom: 5px;
}

.gamer-detail-two {
    color: #534C64;
    font-size: 1.5rems;
    font-weight: 500;
}

.gamer-detail-three {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Online Games Section */

.online-games-container {
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.online-games-img-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hover-container {
    width: 13rem;
    position: relative;
}

.online-games-img {
    width: 100%;
}

.hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: red;
    opacity: 0;

}

.hover:hover {
    opacity: 1;
    cursor: pointer;
}

.online-game-img-title {
    width: 230px;
    text-align: center;
}



/* Play Instant Section Style */

.play-instant-container {
    width: 75%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.play-instant-title {
    width: 250px;
    text-align: right;
}

.play-instant-img-container {
    padding-right: 100px;
}

.play-instant-img-one {
    width: 350px;
    position: absolute;
    padding-left: 80px;
}

.play-instant-img-two {
    width: 170px;
    position: relative;
    margin-top: 230px;
}

/* Play Online Section Style */

.play-online-container {
    width: 75%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play-online-title {
    width: 250px;

}

.play-online-img-one {
    width: 350px;
    position: absolute;
}

.play-online-img-two {
    width: 170px;
    position: relative;
    margin-top: 220px;
    margin-left: 250px;
}

/* Game Category section style */

.game-category-section {
    width: 75%;
    margin: auto;
}

.game-category-container {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 50px;
    gap: 20px;
}

/* .game-category-container {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 50px;
    gap: 20px;
} */

.game-category-detail {
    display: flex;
    align-items: center;
    padding: 5px;
}

.game-category-img {
    width: 40px;
}

.game-category-title {
    color: #0B0223;
    font-size: 15px;
    font-weight: 600;
}

.game-category-detail:hover {
    border: 1px solid #F948B2;
    border-radius: 25px;
    cursor: pointer;
}
.game-category-title:hover{
    color: #F948B2;
}


/* Footer Style */

footer {
    background: #0B0223;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-logo {
    color: #FFF;
}

.important-links {
    display: flex;
    gap: 20px;
}

.important-links a {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;

}

.social-icon{
    margin-left: 100px;
}



.fa-twitter {
    width: 100px;
    color: #FFF;
}

.fa-facebook {
    width: 100px;
    color: #FFF;
}

.fa-square-youtube {
    width: 100px;
    color: #FFF;
}

.fa-linkedin-in {
    width: 100px;
    color: #FFF;
}

.fa-instagram {
    width: 100px;
    color: #FFF;
}

.fa-apple {
    width: 100px;
    color: #FFF;
}

.copy-right {
    color: #FFF;
}

.social-icon-btn{
    border: none;
    background: #0B0223;
    border-radius: 50%;
    margin-right: 10px;

}





/* Media Query */

@media screen and (max-width: 425px) {

    .navigation,
    .online-games-img-container,
    .gamer-container,
    .play-instant-container,
    .menu ul {
        flex-direction: column;
    }

    .navigation {
        height: 200px;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .banner-container {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;

    }

    .banner {
        background: none;
    }

    .banner-detail {
        width: 350px;
        margin: auto;
        margin-top: 1.5rem;
        padding: 1rem;
        background-image: url("media/images/group\ 14.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .banner-title-one {
        font-size: 2rem;
    }

    .banner-title-two {
        font-size: 75px;
    }

    .banner img {
        width: 25rem;
        padding: 1rem;
    }

    .gamer-container {
        width: 100%;
        padding: 5px;
    }

    .gamer-image img {
        width: 25rem;
    }

    .gamer-detail {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .gamer-detail-three {
        font-size: 1rem;
    }

    .online-games-img-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .online-game-img-title {
        width: 220px;
    }

    .play-instant-title {
        text-align: center;
    }

    .play-instant-img-container {
        padding-right: 220px;
        margin-top: 40px;
    }

    .play-instant-img-one {
        width: 250px;
        position: absolute;
    }

    .play-instant-img-two {
        width: 130px;
        position: relative;
        margin-top: 170px;
    }



    .play-online-container {
        flex-direction: column-reverse;
    }

    .play-online-title {
        text-align: center;
    }

    .play-online-img-container {
        margin-top: 40px;

    }

    .play-online-img-one {
        width: 250px;
        position: absolute;
        margin-left: 70px;
    }

    .play-online-img-two {
        width: 130px;
        margin-top: 130px;

    }

    .game-category-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 200px;
        margin-bottom: 200px;
    }

    footer {
        width: 100%;
        height: 400px;
        padding: 10px 0px;
    }


    .important-links,
    .social-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        row-gap: 10px;

    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .banner {
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }

    .banner-image img {
        width: 25rem;
    }

    .banner-title-one {
        font-size: 2rem;
    }

    .banner-title-two {
        font-size: 65px;
    }

    .navigation,
    .banner-container,
    .gamer-container,
    .online-games-container,
    .play-instant-container,
    .play-online-container,
    .game-category-section {
        width: 100%;
        padding: 15px;
    }

    .hover-container {
        width: 10rem;
    }

    .online-games-img-container {
        justify-content: space-evenly;
    }

    .online-game-img-title {
        width: 180px;
    }

    .play-online-img-two {
        margin-left: 10px;
    }

    .social-icon {
        margin-left: 10px;
    }


    /* play insta section */

    .play-instant-container {
        justify-content: center;
        align-items: center;
    }

    .play-instant-title {
        width: 200px;
        text-align: left;
    }

    .play-instant-img-one {
        width: 250px;
        position: absolute;
        padding-left: 80px;
    }

    .play-instant-img-two {
        width: 130px;
        position: relative;
        margin-top: 170px;
    }

    /* play online section */

    .play-online-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .play-online-img-two {
        width: 170px;
        position: relative;
        margin-top: 220px;
        margin-left: 250px;
    }
}